button {
  padding: 0.5rem 1rem;
  background-color: rgb(107, 31, 179);
  border-radius: 1rem;
  border-style: none;
  color: white;
}
h2:first-of-type {
  color: rgb(17, 17, 117);
}
h3 {
  color: darkblue;
}
div img {
  width: 50%;
  max-width: 600px;
  height: auto;
}

.list-group {
  max-width: 1000px;
  min-width: 400px;
  width: 80%;
}
.list-group-item {
  border-left: 10px solid rgb(17, 17, 117);
  margin: 0.5rem 0;
}
.list-group-item span:first-of-type {
  margin: 0 1rem 0 0;
}
